@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Nunito');

 * {
  padding: 0px;
  margin-top: 10px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: rgb(73, 71, 71);
}

.wrapper {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 700px;
  width: 100%;
}

.nav {
  height: 100px;
  width: 45%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 28px;
}

.nav a {
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}

.nav a:hover {
  font-weight: bolder;
}

.activeClassName {
  font-weight: bold;
}

.maininfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  width: 75%;
  height: 370px;
  background: transparent;
}

.mainbox {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.aside {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.aside p {
  font-size: 15px;
}

.aside h4 {
  font-size: 22px;
}

.footer {
  display: flex;
  width: 85%;
  height: 230px;
  background-color: transparent;
  flex-direction: row;
  justify-content: center;
  border-top: 2px solid #909090;
  margin-bottom: 20px;
}

.section-one {
  width: 50%;
  flex-direction: column;
  justify-content: center;
}

.section-one h2 {
  font-size: 21px;
  margin-top: 20px;
}

.section-one img {
  margin-bottom: 10px;
}

.section-two {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.section-two img {
  margin-right: 20px;
}
